<div class="small-12 large-6 columns appbox" data-equalizer-watch>
  <h4>Available Applications:</h4>
  <% @camps.each do |camp| %>
    <%= link_to "Apply for #{camp.name}", new_camp_application_path( :params => {:camp_id => camp.id}), class: "button primary" %>
  <% end %>  
</div>
<div class="small-12 large-6 columns appbox" data-equalizer-watch>
  <h4>My Applications</h4>
  <% @user.camp_applications.each do |application| %>
    <div class="apppanel radius">
      <div class="row">
        <div class="small-6 large-4 columns">
          <i class="fa fa-gavel"></i> <%= application.camp.name %>
        </div> 
        <div class="small-1 small-offset-2 large-1 large-offset-4 columns">
          <%= link_to camp_application_path(application), class: "view_app" do  %>
            <i class="fa fa-graduation-cap has-tip" data-tooltip title="View Application"></i>
          <% end %>
        </div>
        <div class="small-1 large-1 columns">
          <%= link_to edit_camp_application_path(application), id: "edit" do  %>
            <i class="fa fa-edit has-tip" data-tooltip title="Edit Application"></i>
          <% end %>        
        </div>
        <div class="small-1 large-1 columns">
          <%= link_to '/documents/returnpacket2015.pdf' do  %>
            <i class="fa fa-file-pdf-o has-tip" data-tooltip title="Download Information Packet"></i>
          <% end %>        
        </div>
        <div class="small-1 large-1 columns">
          <%= link_to camp_application_path(application), method: :delete do %>
            <i class="fa fa-times-circle has-tip" data-tooltip title="Delete App"></i>
          <% end %>
        </div>
        <div class="row statusdisp">
          <div class="small-12 large-12 columns">
            <span class="small-6 large-6 columns">Application Status:</span>
            <%= render 'statusicons', app: application %>
          </div>
          <% if application.incomplete %>
            <div class="small-12 large-12 columns">
              <span class="small-4 large-4 columns">Missing Info:</span>
              <span class="small-8 large-8 columns"><%= application.missing_info %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>  
</div>
