<div id="contactbox" class="small-12 large-4 columns" data-equalizer-watch >
  <h4>Contact Information:</h4>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#personal">Student</a></dd>
    <dd><a href="#parents">Parent</a></dd>
    <dd><a href="#coach">Coach</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="personal">
      <ul class="no-bullet">
        <li><i class="fa fa-phone"></i>: <%= @user.phone_number %></li>
        <li><i class="fa fa-envelope-o"></i>: <%= mail_to @user.email %></li>
        <li>
          <address>
            <i class="fa fa-home"></i> <strong>Address</strong><br />
            <%= @user.address_line1.titleize %><br />
            <% if(!@user.address_line2.blank?) %>  
              <%= @user.address_line2.titleize %><br />
            <% end %>
            <%= @user.city.titleize %>, <%= @user.state.upcase %> <%= @user.zip %>
          </address>
        </li>
      </ul>
    </div>
    <div class="content" id="parents">
      <ul class="no-bullet">
        <li>Parent Name: <%= @user.parent_first.capitalize %> <%= @user.parent_last.capitalize %></li>
        <li>Relationship: <%= @user.parent_relationship %></li>
        <li><i class="fa fa-envelope-o"></i>: <%= mail_to @user.parent_email %> </li>
        <li><i class="fa fa-phone"></i>: <%= @user.parent_phone %></li>
      </ul>
    </div>
    <div class="content" id="coach">
      <ul class="no-bullet">
        <li>Coach Name: <%= @user.coach_first.capitalize %> <%= @user.coach_last.capitalize %></li>
        <li>School: <%= @user.school.titleize %></li>
        <li><i class="fa fa-envelope-o"></i>: <%= mail_to @user.coach_email %></li>
      </ul>  
    </div>
  </div>
  <% if !@camp_app.camper_type.blank? %>
  <div class="row">
  <table class="small-12 large-12 columns">
    <h4>Tuition, Fees, and Payments</h4>
    <thead>
      <th width="80%">Line Item</th>
      <th width="20%">Amount</th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Base Tuition Cost</strong></td>
        <td>$<%= @tuition.base_tuition %></td>
      </tr>
      <% if @camp_app.needs_pickup || @camp_app.needs_dropoff %>
        <tr>
          <td><strong>Airport Fee</strong></td>
          <td>$<%= @tuition.airport_fee %></td>
        </tr>
      <% end %>
      <% if @camp_app.app_fee %>
        <tr>
          <td><strong>App Fee Paid</strong></td>
          <td>-$50</td>
        </tr>
      <% end %>
      <% @payments.each do |pmt| %>
        <tr>
          <td><strong><%= pmt.pmt_type %></strong></td>
          <td>-$<%= pmt.amount.to_i %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Total Due:</strong></td>
        <td>$<%= @tuition.current_balance.to_i %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "View Detail", camp_application_payments_path(@camp_app), {class: "button tiny primary"} %>
  </div>
  <% else %>
    <div class="row">
      <h5>Please select "Resident" or "Commuter" to calculate fees.</h5>
    </div>
  <% end %>
</div>