<div id= "userpanel" class="small-12 large-8 columns" data-equalizer-watch >
    <div class="row">
      <div class="small-3 large-3 columns">
        <%= display_user_avatar(@user) %>
      </div>
      <div class="small-9 large-9 columns">  
        <h3><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
        <ul id="userinfo" class="inline-list">
          <li><i class="fa fa-comment-o has-tip" data-tooltip title="Prefers to be called"></i>: <%= !@user.nickname ? @user.first_name.capitalize : @user.nickname.capitalize %></li>
          <li><span class="has-tip" data-tooltip title="Gender"><i class="fa fa-female"></i><i class="fa fa-male"></i></span>: <%= @user.gender.capitalize %></li>
          <li><i class="fa fa-calendar has-tip" data-tooltip title="Grade in Fall"></i>: <%= @user.grade %>th Grade</li>
        </ul>
        <ul id="userinfo2" class="inline-list"> 
          <li><i class="fa fa-gift has-tip" data-tooltip title="Birthday!"></i>: <% if (!@user.birthday.nil?) %> <%= @user.birthday.strftime("%B %d, %Y") %> <% else %> None Listed<% end %></li>
          <li><i class="fa fa-text-height has-tip" data-tooltip title="T-shirt Size"></i>: <%= @user.tshirt_size.upcase %></li>
          <li><strong><i class="fa fa-linux has-tip" data-tooltip title="Spirit Animals are Awesome"></i></strong>: <%= spirit_animal(@user) %></li>
        </ul>          
      </div> 
  </div>
  <div class="row">
    <div class="small-8 large-8 columns">
      <p>Welcome to SWSDI! Please fill out any missing profile fields before applying using the "Edit My Profile" button</p>
    </div>
    <div class="small-4 large-4 columns">
      <%= link_to "Edit My Profile", edit_user_registration_path, :class => "button primary" %>
    </div>
  </div>
</div>