<%= render 'admin/shared/admin_tools' %>
<div class="row">
  <div class="small-12 large-12 columns">
    <h3>Current Users:</h3>
    <p>Number of Users: <%= @users.count %></p>
    <div class="row">
      <div class="small-12 large-8 columns">
        <%= render 'toolbar' %>
      </div>
      <div class="small-12 large-4 columns">
        <%= search_form_for(@search, url: "/profiles", method: :get, remote: true) do |f| %>
          <div class="input-group">
            <%= f.search_field :first_name_or_last_name_cont, placeholder: "Search by Name...", class: 'input-group-field' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Add Application', "/admin/camp_applications/new?camp_id=#{@camp.id}", class: "button tiny primary" %>
  </div>
  <div class="small-12 large-12 columns">
    <%= paginate @users %>
  </div>
  <div id="users">
    <%= render 'users' %>
  </div>
  <div class="small-12 large-12 columns">
    <%= paginate @users %>
  </div>
</div>