<fieldset>
  <legend>User Information</legend>
  <div class="row">
    <div class="small-12 large-4 columns">  
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>
    <div class="small-12 large-4 columns">
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
    <div class="small-12 large-4 columns">
      <%= f.text_field :nickname, placeholder: "Name you prefer to be called" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns">
      <%= f.email_field :email, placeholder: "Email Address" %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.text_field :spirit_animal, placeholder: "Your Spirit Animal" %>
    </div>
  </div>
  <% if f.object.encrypted_password.present? %>
    <div class="row">
      <div class="small-12 large-6 columns">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>
      <div class="small-12 large-6 columns">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Verify Password" %>
      </div>
    </div>
  <% end %>
</fieldset>