<fieldset>
  <legend>User Information</legend>
  <div class="row">
    <div class="small-3 large-3 columns">
      <% if controller.action_name == "new" %>
        <%= image_tag 'fallback/default.png' %>
      <% else %>
        <%= display_user_avatar(@user) %>
      <% end %>
      <%= f.label :image, "Upload an Avatar Image" %>
      <%= f.file_field :image %>
      <%= f.label :remote_image_url, "Or add one from a URL" %>
      <%= f.text_field :remote_image_url %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="small-9 large-9 columns">
      <div class="row">
        <div class="small-12 large-4 columns">  
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div class="small-12 large-4 columns">
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div class="small-12 large-4 columns">
          <%= f.text_field :nickname, placeholder: "Name you prefer to be called" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 columns">
          <%= f.email_field :email, placeholder: "Email Address" %>
        </div>
        <div class="small-12 large-6 columns">
          <%= f.text_field :spirit_animal, placeholder: "Your Spirit Animal" %>
        </div>
      </div>
      <% if (controller.action_name == "edit" || controller.action_name == "update") && f.object.encrypted_password.present? %>
        <div class="row">
          <div class="small-12 large-4 columns">
            <%= f.label :current_password, "Enter your current Password" %>
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %>
          </div>
          <div class="small-12 large-4 columns">
            <%= f.label :password, "Change your Password:" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %>
          </div>
          <div class="small-12 large-4 columns">
            <%= f.label :password_confirmation, "Verify Password:" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Verify New Password" %>
          </div>
        </div>
      <% elsif (controller.action_name == "new" || controller.action_name == "create") && f.object.password_required?  %>
        <div class="row">
           <div class="small-12 large-6 columns">
             <%= f.label :password, "Password:" %>
             <%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %>
           </div>
           <div class="small-12 large-6 columns">
             <%= f.label :password_confirmation, "Verify password" %>
             <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Verify New Password" %>
           </div>
         </div>
        <% end %>
      </div>
    </div>
</fieldset>