<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="alert alert-box radius">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
      <%= render 'userinfo', :f => f  %>
      <%= render 'personalinfo', :f => f  %>
      <%= render 'parentinfo', :f => f  %>
      <%= render 'coachinfo', :f => f  %>
      <%= f.submit "Update", class: "button primary small-6 large-centered columns" %>
  <% end %>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "button tiny alert small-4 large-centered columns", method: :delete %>
  </div>
  <div class="row"><%= link_to "Back", :back %></div>
</div>