<div class="row">
  <h2>Sign up for SWSDI</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <fieldset>
      <legend>User Information</legend>
      <div class="row">
        <div class="small-4 large-4 columns">  
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div class="small-4 large-4 columns">
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div class="small-4 large-4 columns">
          <%= f.text_field :nickname, placeholder: "Name you prefer to be called" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-12 columns">
          <%= f.email_field :email, placeholder: "Email Address" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 columns">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>
        <div class="small-12 large-6 columns">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Verify Password" %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Personal Information</legend>
      <div class="row">
        <div class="small-12 large-3 columns">
          <%= f.label :gender %>
          <%= f.select :gender, options_for_select([['Female', 'female'], ['Male', 'male']]), placeholder: "Gender" %>
        </div>
        <div class="small-12 large-3 columns">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, placeholder: "Phone Number" %>
        </div>
        <div class="small-12 large-6 columns">
          <%= f.label :birthday %>
          <%= date_select :user, :birthday, {start_year: 1993, end_year: 2005, order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"} %>
        </div>
        <div class="small-4 large-6 columns">
          <%= f.label :school, "Where do you go to school?" %>
          <%= f.text_field :school, placeholder: "School Name" %>
        </div>
        <div class="small-4 large-4 columns">
          <%= f.label :grade, "Grade this coming fall" %>
          <%= f.select :grade, options_for_select([['8th Grade', 8], ['Freshman', 9], ['Sophomore', 10], ['Junior', 11], ['Senior', 12]]) %>
        </div>
        <div class="small-4 large-2 columns">
          <%= f.label :tshirt_size %>
          <%= f.select :tshirt_size, options_for_select([['Small', 'sm'], ['Medium', 'med'], ['Large', 'lg'], ['XLarge', 'xl'], ['XXL', '2xl'], ['3XL', '3xl']]), placeholder: "T-shirt Size" %>
        </div>
        <div class="small-12 large-12 columns">
          <%= f.label :address_line1, "Home Address" %>
          <%= f.text_field :address_line1, placeholder: "Address Line 1" %>
        </div>
        <div class="small-12 large-12 columns">
          <%= f.text_field :address_line2, placeholder: "Address Line 2" %>
        </div>
        <div class="small-6 large-6 columns">
          <%= f.text_field :city, placeholder: "City" %>
        </div>
        <div class="small-3 large-3 columns">
          <%= f.select :state, options_for_select(us_states) %>
        </div>
        <div class="small-3 large-3 columns">
          <%= f.text_field :zip, placeholder: "Zip Code" %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Parent Information</legend>
      <div class="small-12 large-4 columns">
        <%= f.text_field :parent_first, placeholder: "Parent First Name" %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.text_field :parent_last, placeholder: "Parent Last Name" %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.text_field :parent_phone, placeholder: "Parent Phone Number" %>
      </div>
      <div class="small-12 large-6 columns">
        <%= f.email_field :parent_email, placeholder: "Parent Email" %>
      </div>
      <div class="small-12 large-6 columns">
        <%= f.select :parent_relationship, options_for_select([['Mother', 'mother'], ['Father', 'father'], ['Guardian', 'guardian']]) %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Coach Information</legend>
      <div class="small-4 large-4 columns">
        <%= f.text_field :coach_first, placeholder: "Coach's First Name" %>
      </div>
      <div class="small-4 large-4 columns">
        <%= f.text_field :coach_last, placeholder: "Coach's Last Name" %>
      </div>
      <div class="small-4 large-4 columns">
        <%= f.email_field :coach_email, placeholder: "Coach's Email" %>
      </div>
    </fieldset>
    <div><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>