<fieldset>
  <div class="row">
    <div class="row">
      <div class="small-12 large-6 columns">
        <%= f.label :name, "Event Name" %>
        <%= f.text_field :name, placeholder: "Event Name" %>
      </div>
      <div class="small-12 large-6 columns">
        <%= f.label :description, "Event Description" %>
        <%= f.text_field :description, placeholder: "Event Description" %>
      </div>  
    </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <%= f.label :event_session, "Camp Session" %>
        <%= f.select :event_session, options_for_select([['Session A', 'A'], ['Session B', 'B'], ['Session C', 'C']], f.object.event_session || 'A') %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.label :price_resident, "Price for Residents" %>
        <%= f.number_field :price_resident, in: 800..1300, step: 10  %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.label :price_commuter, "Price for Commuters" %>
        <%= f.number_field :price_commuter, in: 600..900, step: 10  %>
      </div>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Delete Event", "#", class: "remove_fields small-6 large-4 tiny button alert" %>
  </div>
</fieldset>