<div class="row">
  <h1>New Camp</h1>
  <%= form_for @camp do |f| %>
    <%= render 'campinfo', :f => f %>
    <%= f.fields_for :events do |builder| %>
      <%= render 'event_fields', f: builder  %>
    <% end %>
    <div class="row">
      <%= link_to_add_fields "Add Event", f, :events %>
    </div>
    <div class="row">
      <%= f.submit "Create Camp", class: "button primary small-6 large-6 columns" %>
    </div>
  <% end %>
</div>