<div id="facebook" class="row">
  <div class="small-12 large-12 columns panel">
    <h2>Applicants for <%= @event.name %></h2>
    <hr />
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @apps.each do |app| %>
        <li>
          <%= display_user_avatar(app.user) %>
          <h4><%= link_to app.user.full_name, admin_camp_app_path(app) %></h4>
          <ul class="no-bullet">
            <li><i class="fa fa-university"></i>: <%= app.user.school.titleize %></li>
            <li><i class="fa fa-calendar"></i>: <%= app.user.grade %>th Grade</li>
            <li><i class="fa fa-home"></i>: <%= app.camper_type %></li>
            <li><i class="fa fa-trophy"></i>: <%= experience_level(app) %></li>
            <li><i class="fa fa-linux" data-tooltip title="Spirit Animal"></i>: <%= spirit_animal(app.user) %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>