<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= @event.name %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Grade</Data></Cell>
        <Cell><Data ss:Type="String">School</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Events</Data></Cell>
        <Cell><Data ss:Type="String">Partner Req.</Data></Cell>
        <Cell><Data ss:Type="String">Experience</Data></Cell>
        <Cell><Data ss:Type="String">Sprit Animal</Data></Cell>
        <Cell><Data ss:Type="String">Residency</Data></Cell>
        <Cell><Data ss:Type="String">Phone Number</Data></Cell>
        <Cell><Data ss:Type="String">Arrival Date</Data></Cell>
        <Cell><Data ss:Type="String">Departure Date</Data></Cell>
      </Row>
    <% @apps.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.user.last_name.titleize %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.user.first_name.titleize %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.user.email %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= student.user.grade %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.user.school.titleize %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= student.user.age %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.user.gender %></Data></Cell>
        <Cell><Data ss:Type="String"><%student.events.each do |event| %><%= event.name %>, <% end %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.event_partner_req %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= student.years_in_event %></Data></Cell>
        <Cell><Data ss:Type="String"><%= spirit_animal(student.user) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camper_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= number_to_phone(student.user.phone_number) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.arrival_date.strftime("%B %d") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.departure_date.strftime("%B %d") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>