<div class="row">
	<div class="small-12 large-12 columns panel">
		<h2>Administration Dashboard</h2>
		<hr />
		<div class="panel callout small-12 large-3 columns">
			<dl>
				<dt>Current Admin:</dd>
				<dd><%= current_admin.email %></dt>
				<dt>Sign In Count:</dt>
				<dd><%= current_admin.sign_in_count  %></dd>
				<dt>Last Signed In:</dt>
				<dd><%= current_admin.last_sign_in_at.strftime('%b %e, %Y %l:%M %p (%Z)')  %></dd>
			</dl>
		</div>
		<div class="panel callout small-12 large-8 offset-1 columns">
			<h3>Information for <%= @camp.name %></h3>
			<hr />
			<ul class="small-12 large-6 columns no-bullet">
				<li>
					<strong><i class="fa fa-users"></i> User Count:</strong> <%= @user_count %>
				</li>
				<li>
					<strong><i class="fa fa-file-o"></i> Application Count:</strong> <%= @app_count %>
				</li>
				<% @sessions_count.each do |name, val| %>
					<li><strong><i class="fa fa-calendar"></i> <%= name %> Applicants:</strong> <%= val %>
					</li>
				<% end %>
			</ul>
			<ul class="small-12 large-6 columns no-bullet">
				<li>
					<%= link_to "View Camp Info", admin_camp_path(@camp), {class: "button tiny primary"}  %>
				</li>
				<li>
					<%= link_to "Manage Applications", admin_camp_apps_path, {class: "button tiny primary"}  %>
				</li>
			</ul>
		</div>
	</div>
</div>
