<h4>Hello <%= @user.parent_first  %>,</h4>
<p>
Your student, <%= @user.first_name %>, has registered to come to
<%= @camp.name %> this coming summer. Hopefully this email doesn't
come as a complete surprise! 
</p>
<p>
In order to complete the application process, we need some things
from you. 
</p>
<p>
<strong>**BE SURE TO CAREFULLY READ THIS EMAIL!**</strong>
</p>
<p>
Important next steps to complete your student's application:
<hr />
</p>
<p>
The next step after registration is simply arranging payment. We have had to switch to using ASU's QuikPay system this year for tuition, so the process is slightly more complicated. When you recieve this email, you can pay by Credit/Debit card by going to <%= link_to @pay_url %>. If you are eligible for a discount from the ASU HDSHC Invitational in January 2021, please contact us at <%= mail_to 'info@swsdi.org' %> for a discount code BEFORE paying via credit card. These discounts are available to students who made elimination rounds or finals at the ASU tournament, and are also transferrable from students who do not intend to use them. If you believe you are eligible for a discount on tuition, please include the student name, and the event in which they earned the discount. If it is a code transfer, please include the name of the student who is transferring their discount as well. When we have verified the discount, you will be emailed a discount code that you can use when paying on the QuikPay site.  
</p>
<p>
If you would prefer to pay by check, please make those out to 'ASU Forensics' and mail them to the address below:
</p>
<p>
Adam Symonds<br />
Arizona State University<br />
Hugh Downs School<br />
P.O. Box 871205<br />
Tempe, AZ 85287<br />
</p>
<p>
If you wish to pay by check, and are eligible for a discount, please send an email verifying the discount information listed above to the same email address, and wait for verification prior to sending a check. 
</p>
<p>
Please Note: Your student is ALREADY ACCEPTED for camp. We are planning
to have them, and they will be included in our numbers for planning purposes.
</p>
<p>
If you have any questions, please send an email to <%= mail_to 'info@swsdi.org' %>
and one of our staff members will be delighted to help you.
</p>
<p>
We would like to thank you for sending <%= @user.first_name %> to
<%= @camp.name %>. We look forward to seeing <%= @user.first_name %>
this summer!
</p>
<p>
Cheers,<br />
The SWSD @ASU Staff
</p>
