<h4>Hello <%= @user.first_name  %>,</h4>

<p>
Thank you for registering for <%= @camp.name %>! We look forward
to seeing you at camp this summer!
</p>
<p>
<strong>**BE SURE TO CAREFULLY READ THIS EMAIL!**</strong> 
</p>
<p>
Important next steps to complete your application:
<hr />
</p>
<p>
Please download the <%= link_to "document packet", @docurl %> and the <%= link_to "information packet", @url %> these 
packets contain important information, and some documents that 
require signatures. 
</p>
<p>
Please have your parent fill out those documents (an email has
also been sent to them!), and sign them. 
</p>
<p>
When you have finished filling out the forms, please scan them
and email to packets@swsdi.org
</p>
<p>
If you are unable to scan the documents, please paper clip (no staples!) them
together and return them via US Mail to the address below:
</p>
<p>
Adam Symonds<br />
Arizona State University<br />
Hugh Downs School<br />
P.O. Box 871205<br />
Tempe, AZ 85287<br />
</p>
<p>
When we have recieved your forms, we will
verify your registration is complete. We will send an email to
notify you that your registration is verified.
</p>
<p>
We will also let you know if there is missing, or incomplete 
information that we require from you, so that you are able to
provide that information as needed.
</p>
<p>
Please note, you are ALREADY ADMITTED to camp! We are counting on seeing you this summer!
If it turns out that you cannot make it, please let us know before June 15th so that we can
make adjustments with ASU.
</p>
<p>
If you have any questions, please send an email to <%= mail_to 'info@swsdi.org' %>
and one of our staff members will be delighted to help you.
</p>
<p>
Thank you again for registering for <%= @camp.name %>. We're hopeful
that this year will be our best camp ever. We'll see you in July!
</p>
<p>
Cheers, <br />
The SWSDI @ ASU Staff
</p>
