<%= simple_form_for(@camp_application) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <legend>Application</legend>
    <% @sessions.each do |session| %>
      <h4><strong><%= session.name %></strong></h4>
      <% events = session.events %>
      <%= f.association :events, collection: events, as: :check_boxes %>
    <% end %>
    <%= f.button :submit %>    
  </fieldset>
<% end %>
