<div class="row">
	<div class="small-12 large-12 columns">
		<h3>Application for: <%= @camp_application.user.first_name %></h3>
		<p>The application fee is: $<%= params[:amount] %></p>
		<%= form_for pay_camp_application_path do |f| %>
		    <div id="payment-form"></div>
		    <input type="hidden" name="amount" value="<%= params[:amount] %>">
		    <input type="submit" name="Pay now" disabled>
		<%end%>
  	</div>
</div>

<script>

var authorization = '<%= @token %>';

braintree.setup(clientToken, "dropin" {
	container: "payment-form"
});
</script>

