<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Staff List">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
        <Cell><Data ss:Type="String">Birthday</Data></Cell>
        <Cell><Data ss:Type="String">Spirit Animal</Data></Cell>
        <Cell><Data ss:Type="String">Mailing Address</Data></Cell>
      </Row>
    <% @admins.each do |admin| %>
      <Row>
        <Cell><Data ss:Type="String"><%= admin.full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.admin.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= number_to_phone(admin.phone) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.age %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.birthday.strftime("%B %d") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= spirit_animal(admin) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.address_line1 %> <%= admin.address_line2 %> <%= admin.city %>, <%= admin.state %> <%= admin.zip %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>