<div class="row">
  <h2>Create Admin Profile</h2>

  <%= simple_form_for(@profile, url: admin_admin_profiles_path, html: { multipart: true }) do |f| %>
    <%= f.error :base, class: "alert-box alert" %>
    <%= render 'userinfo', :f => f  %>
    <%= render 'personalinfo', :f => f  %>
    <div><%= f.submit "Create Profile", class: "button primary" %></div>
  <% end %>

</div>