<%= simple_form_for([:admin, @camp_app]) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, class: "alert-box alert" %>
  
  <% if controller.action_name == 'new' %>
    <fieldset>
      <legend>Please select a user:</legend>
      <div class="row">
        <%= f.input :user_id, collection: @users, label_method: :full_name, value_method: :id %>
      </div>
    </fieldset>
  <% end %>
  <fieldset>
    <legend>Camp Application</legend>
    <div class="row">
      <h5 class="small-12 large-12 columns">Please select one two-week event.</h5>
      <% @sessions.each do |session| %>
        <% events = session.events %>
        <%= f.association :events, collection: events, as: :check_boxes, wrapper_html: {class: 'small-12 large-12 columns'}, label: session.name %>
      <% end %>
    </div>
    <div class="row">
      <%= f.input :interp_type, collection: ['Duo', 'Dramatic', 'Humor', 'POI', 'Prose', 'Poetry', 'Oratory', 'Informative', 'Extemp'], wrapper_html: { class: 'small-6 large-4 columns'}, label: 'Primary Speech Event <i class="fa fa-info-circle" data-tooltip title="If you chose Speech, pick your primary focus"></i>'.html_safe %>
      <%= f.input :speech_minor, collection: ['Duo', 'Dramatic', 'Humor', 'POI', 'Prose', 'Poetry', 'Oratory', 'Informative', 'Extemp'], wrapper_html: { class: 'small-6 large-4 columns'}, label: 'Secondary Speech Event <i class="fa fa-info-circle" data-tooltip title="If you chose Speech, pick your secondary focus"></i>'.html_safe %>
      <%= f.input :has_competed, :as => :select, wrapper_html: { class: 'small-6 large-4 columns' }, label: 'Competed Previously? <i class="fa fa-info-circle" data-tooltip title="Have you competed previously in this event?"></i>'.html_safe %>
      <%= f.input :years_in_event, wrapper_html: { class: 'small-6 large-2 columns'}, label: 'Years in Event? <i class="fa fa-info-circle" data-tooltip title="How many years have you competed in the events you\'re registering for?"></i>'.html_safe %>
      <%= f.input :number_of_tournaments, wrapper_html: { class: 'small-6 large-2 columns'}, label: '# of Tournaments <i class="fa fa-info-circle" data-tooltip title="How many tournaments have you competed in these events?"></i>'.html_safe %>
      <%#= f.input :has_laptop, :as => :select, wrapper_html: { class: 'small-4 large-2 columns' }, label: "Have a Laptop?" %>
      <%= f.input :event_partner_req, wrapper_html: { class: 'small-6 large-4 columns' }, label: 'Partner Preference <i class="fa fa-info-circle" data-tooltip title="If you are doing PF, Policy or Duo, who do you want to partner with?"></i>'.html_safe %>
      <%= f.input :camper_type, collection: ['Resident', 'Commuter'], wrapper_html: {class: "small-6 large-4 columns"}, label: 'Resident or Commuter? <i class="fa fa-info-circle" data-tooltip title="Resident means staying in dorms. Commuter means being picked up and dropped off each day."></i>'.html_safe %>
      <%= f.input :roommate_req, wrapper_html: { class: 'small-6 large-6 columns' }, label: 'Roommate Preference (opt) <i class="fa fa-info-circle" data-tooltip title="Both students must select each other. No guarantee roomate requests will be honored."></i>'.html_safe %>
      <%= f.input :referer_name, wrapper_html: { class: 'small-12 large-6 columns' }, label: 'Who recommended camp?' %>
    </div> 
    <div class="row">
      <div class="small-12 large-12 columns">
        <fieldset>
          <legend>Debate Record</legend>
          <h6>If you debated during the previous season, please add your records from each tournament you attended.</h6>
          <%= f.simple_fields_for :debate_records do |builder| %>
            <%= render 'debate_record_fields', f: builder %>
          <% end %>
          <%= link_to_add_fields "Add Tournament", f, :debate_records  %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <fieldset>
          <legend>Check Out Permissions</legend>
          <h6>Please list the people who have permission to check you out of camp.</h6>
          <%= f.simple_fields_for :check_out_permissions do |builder| %>
            <%= render 'check_out_permission_fields', f: builder %>
          <% end %>
          <%= link_to_add_fields "Add Contact", f, :check_out_permissions  %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <fieldset>
        <legend>Application Status Options</legend>
        <%= f.input :med_forms, label: "Med Form Recieved" %>
        <%= f.input :checkout_form, label: "Checkout Form Recieved" %>
        <%= f.input :app_fee, label: "Application Fee Recieved" %>
        <%= f.input :incomplete, label: "Application Missing Info" %>
        <%= f.input :is_approved, label: "Application Approved" %>
        <%= f.input :checked_in, label: "Checked in to Camp" %>
        <%= f.input :missing_info, label: "Which information is missing?" %>
      </fieldset>
      <fieldset>
        <legend>Notes about Camper (Private)</legend>
        <%= f.input :comments %>
      </fieldset>
    </div>
    <div class="row">
      <%= f.input :has_allergies, :as => :select, wrapper_html: { class: 'small-6 large-6 columns' }, label: "Do you have any allergies?" %>
      <%= f.input :has_dietary_restrictions, :as => :select, wrapper_html: { class: 'small-6 large-6 columns' }, label: "Do you have any dietary restrictions?" %>
      <%= f.input :allergies, wrapper_html: { class: 'small-6 large-6 columns' }, label: "Please list any allergies" %>
      <%= f.input :dietary_restrictions, wrapper_html: { class: 'small-6 large-6 columns' }, label: "Please list any dietary restrictions" %>
      <%= f.input :referer_name, wrapper_html: { class: 'small-6 large-6 columns' }, label: "Name of Person who Referred you (if any)" %>
    </div>
    <%= f.input :camp_id, as: :hidden, input_html: {value: @camp.id} %>
    <%= f.button :submit %>    
  </fieldset>
<% end %>
