<div class="small-3 large-3 columns">
  <%= simple_form_for [:admin, app], namespace: app.id, remote: true do |f|%>
  <span class="appstatus">
    <span>
      <%= f.check_box :med_forms  %>
      <%= f.label :med_forms do %>
        <% if app.med_forms %>
          <i class="fa fa-ambulance enabled" data-tooltip title="Health Form Rec'd."></i>
        <% else %>
          <i class="fa fa-ambulance disabled" data-tooltip title="Health Form Missing."></i>
        <% end %>
      <% end %>
    </span>
    <span>
      <%= f.check_box :app_fee %>
      <%= f.label :app_fee do %>
        <% if app.app_fee %>
          <i class="fa fa-usd enabled" data-tooltip title="App Fee Paid"></i>
        <% else %>
          <i class="fa fa-usd disabled" data-tooltip title="App Fee Not Paid"></i>
        <% end %>
      <% end %>
    </span>
    <span>
      <%= f.check_box :checkout_form %>
      <%= f.label :checkout_form do %>
        <% if app.checkout_form %>
          <i class="fa fa-file-text enabled" data-tooltip title="Checkout Form Rec'd."></i>
        <% else %>
          <i class="fa fa-file-text disabled" data-tooltip title="Checkout Form Missing."></i>
        <% end %>
      <% end %>
    </span>
    <span>
      <%= f.check_box :incomplete %>
      <%= f.label :incomplete do %>
        <% if app.incomplete %>
          <i class="fa fa-pencil-square-o enabled" data-tooltip title="<%= app.missing_info %>"></i>
        <% else %>
          <i class="fa fa-pencil-square-o disabled" data-tooltip title="No Missing Info"></i>
        <% end %>  
      <% end %>
    </span>
    <span>
      <%= f.check_box :is_approved %>
      <%= f.label :is_approved do %>
        <% if app.is_approved %>
          <i class="fa fa-check enabled" data-tooltip title="App Approved!"></i>
        <% else %>
          <i class="fa fa-check disabled" data-tooltip title="Not Yet Approved."></i>
        <% end %>
      <% end %>
    </span>
    <% if (app.needs_pickup || app.needs_dropoff) %>
    <i class="fa fa-plane enabled" data-tooltip title="Airport Trip"></i>
  <% end %>
    <% if app.checked_in %>
      <i class="fa fa-heart enabled" data-tooltip title="Checked In!"></i>
    <% else %>
      <i class="fa fa-heart-o disabled" data-tooltip title="Not Checked In"></i>
    <% end %>
    <div class="infotext">
      <%= f.input :missing_info, label: false, class: "disabled" %>
      <%= f.button :submit, class: "button tiny" %>
    </div>
  </span>
  <% end %>
</div>

