<%= render 'admin/shared/admin_tools' %>
<div class="row">
	<h2><%= @camp.name %> Applications</h2>
  <hr />
  <h3>Camp Applicants (<%= @camp_apps.count %>):</h3>
	<% @camp_apps.each do |app| %>
		<div class="panel large-12 small-12 columns">
			<span class="small-2 large-2 columns"><%= link_to "#{app.user.full_name}", admin_camp_application_path(app) %></span>
      <span class="small-1 large-1 columns"><i class="fa fa-university" data-tooltip title="<%= app.user.school.titleize %>"></i> <%= app.user.grade %></span>
      <span><%= app.user.school.titleize %></span>
      <span class="small-2 large-2 columns">
        <% app.events.each do |event| %>
          <%= event.name + " | " %>
        <% end %>
      </span>
      <span class="small-3 large-3 columns">Session(s):
        <% app.events.each do |event| %>
          <%= event.camp_session.shortname + " " %>
        <% end %>
      </span>
			<%= render 'statusicons', app: app %>
      <span class="small-1 large-1 columns">
        <%= link_to admin_camp_application_path(app), data: { confirm: "Delete this Application: Are you sure?" }, method: :delete do %>
          <i class="fa fa-times-circle has-tip delete" data-tooltip title="Delete App"></i>
        <% end %>
      </span>
		</div>
	<% end %>
</div>