<div class="row">
  <table class="small-12 large-12 columns">
    <h4>Tuition, Fees, and Payments for <%= @camp_app.user.full_name %></h4>
    <thead>
      <th width="20%">Type</th>
      <th width="40%">Notes</th>
      <th width="20%">Amount</th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Base Tuition Cost</strong></td>
        <td></td>
        <td><%= number_to_currency(@tuition.base_tuition) %></td>
      </tr>
      <% if @camp_app.needs_pickup || @camp_app.needs_dropoff %>
        <tr>
          <td><strong>Airport Fee</strong></td>
          <td></td>
          <td><%= number_to_currency(@tuition.airport_fee) %></td>
        </tr>
      <% end %>
      <% if @camp_app.app_fee %>
        <tr>
          <td><strong>App Fee Paid</strong></td>
          <td></td>
          <td>-<%= number_to_currency(50) %></td>
        </tr>
      <% end %>
      <% @payments.each do |pmt| %>
        <tr>
          <td><strong><%= pmt.pmt_type %></strong></td>
          <td><%= pmt.note %></td>
          <td>-<%= number_to_currency(pmt.amount) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Total Due:</strong></td>
        <td></td>
        <td><%= number_to_currency(@tuition.current_balance) %></td>
      </tr>
    </tbody>
  </table>
  <%= simple_form_for [@camp_app, @new_payment] do |f| %>
    <h3>Pay your tuition balance:</h3>
    <%= f.hidden_field :pmt_type, value: 'Credit Card' %>
    <%= f.input :note, label: "Please add any additional notes." %>
    <%= f.hidden_field :amount, value: @tuition.current_balance %>
    <div id="payment-form"></div>
    <%= f.button :submit, wrapper_html: {class: "button"} %>
  <% end %>  
  <%= link_to "Return to Profile", profile_path(current_user), { class: "button small"} %>
	  <script>
		var clientToken = "<%= @token %>";
        console.log (clientToken);
		braintree.setup(clientToken, "dropin", {
			container: "payment-form"
		});
	  </script>
</div>
