<div class="row">
  <table class="small-12 large-12 columns">
    <h4>Tuition, Fees, and Payments for <%= @camp_app.user.full_name %></h4>
    <thead>
      <th width="20%">Type</th>
      <th width="40%">Notes</th>
      <th width="20%">Amount</th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Base Tuition Cost</strong></td>
        <td><% if @camp_app.breakfast %>
              <%= @camp_app.camper_type + " Tuition with Breakfast."%>
            <% else %>
              <%= @camp_app.camper_type + " Tuition without Breakfast"%>
            <% end %>
        </td>
        <td><%= number_to_currency(@tuition.base_tuition) %></td>
      </tr>
      <%# if @camp_app.needs_pickup || @camp_app.needs_dropoff %>
        <!--tr>
          <td><strong>Airport Fee</strong></td>
          <td></td>
          <td><%#= number_to_currency(@tuition.airport_fee) %></td>
        </tr -->
      <%# end %>
      <%# if @camp_app.app_fee %>
        <!--<tr>
          <td><strong>App Fee Paid</strong></td>
          <td></td>
          <td>-<%#= number_to_currency(50) %></td>
        </tr>-->
      <%# end %>
      <% @payments.each do |pmt| %>
        <tr>
          <td><strong><%= pmt.pmt_type %></strong></td>
          <td><%= pmt.note %></td>
          <td>-<%= number_to_currency(pmt.amount) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Total Due:</strong></td>
        <td></td>
        <td><%= number_to_currency(@tuition.current_balance) %></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="small-12 large-12 columns appbox">
      <h3>Pay Your Tuition Bill</h3>
      <p>For tuition payments, we will be using ASU's QuickPay system. If you wish to pay with a credit card, use the "Pay Now with CC" button below. If you wish to pay by Check or P.O., please make checks payable to "ASU Forensics" and mail them to:</p>
      <p>ASU Forensics<br />c/o Adam Symonds<br />Arizona State University<br />Hugh Downs School of Human Communication<br />P.O. Box 871205<br />Tempe, AZ 85287</p>
      <p>Please note: Your payment will not be immediately reflected in your balance due on this page. We will reconcile payments as they come in.</p>
      <p>MAKE CERTAIN you have paid both the Application Fee, and the Tutition Balance. If there is still a balance on your account after a payment has appeared, it is probably because the application fee was unpaid.</p>
      <p>If you're having trouble, and need assistance adding both the Application Fee and Tutition Balance to your cart at STOVA, you can reference <a href="https://register.swsdi.org/documents/regprocess.pdf">This Document.</a> or email us at <%= mail_to "info@swsdi.org" %></p>
      <p>Before you pay, please claim any scholarships! Use the <%= link_to "Scholarship Claim Form", new_scholarship_path(current_user) %> to claim any scholarships you may be due. Once you have claimed your scholarship, it will be reviewed and a discount code will be sent to you for use on the quikpay system.</p>
      <% if !@camp.quikpay_url.blank? %>
        <%= link_to "Pay Now with CC", @camp.quikpay_url, { class: "button"} %>
      <% else %>
        <%= link_to "Payment Link Coming Soon", profile_path(current_user), { class: "button" } %>
      <% end %>
      <%= link_to "Return to Profile", profile_path(current_user), { class: "button small"} %>
    </div>
  </div>
</div>
