<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Financial Info">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Pickup</Data></Cell>
        <Cell><Data ss:Type="String">Dropoff</Data></Cell>
        <Cell><Data ss:Type="String">Itinerary</Data></Cell>
        <Cell><Data ss:Type="String">Arrival Date</Data></Cell>
        <Cell><Data ss:Type="String">Departure Date</Data></Cell>
        <Cell><Data ss:Type="String">Student Phone</Data></Cell>
        <Cell><Data ss:Type="String">Parent Phone</Data></Cell>
      </Row>
    <% @students.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.first.needs_pickup %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.first.needs_dropoff %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.first.itinerary %></Data></Cell>
        <% student.camp_applications.each do |app| %>
          <Cell><Data ss:Type="String"><%= app.arrival_date.strftime("%B %d") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= app.departure_date.strftime("%B %d") %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= display_phone_number(student.phone_number) %></Data></Cell><Cell><Data ss:Type="String"><%= display_phone_number(student.phone_number) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>