<%= render 'admin/shared/admin_tools' %>
<div class="row" data-equalizer>
  <div class="panel small-12 large-6 columns" data-equalizer-watch >
    <h3>Financial Reporting:</h3>
    <p>These numbers are best estimates. Please reconcile properly with the bank statement.</p>
    <dl>
      <dt>Total Tutition and Fees:</dt>
      <dd><%= number_to_currency(@totals.total_owed) %></dd>
      <dt>Total Money Received:</dt>
      <dd><%= number_to_currency(@totals.total_money_received) %></dd>
      <dt>Total Financial Aid:</dt>
      <dd><%= number_to_currency(@totals.total_financial_aid) %></dd>
      <dt>Total Paid:</dt>
      <dd><%= number_to_currency(@totals.total_paid) %></dd>
      <dt>Current Balance Due:</dt>
      <dd><%= number_to_currency(@totals.total_owed - @totals.total_paid) %></dd>
    </dl>
    <table>
      <thead>
        <th>Name</th>
        <th>Owed</th>
        <th>Paid</th>
        <th>Fin. Aid</th>
        <th>Bal. Due</th>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <% tuition = CalculateTuition.new(student) %>
        <tr>
          <td><%= link_to student.user.full_name, admin_camp_application_path(student) %></td>
          <td><%= number_to_currency(tuition.total_owed) %></td>
          <td><%= number_to_currency(tuition.total_paid) %></td>
          <td><%= number_to_currency(tuition.financial_aid) %></td>
          <td><%= number_to_currency(tuition.current_balance) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel small-12 large-6 columns" data-equalizer-watch >
    <h3>Team Discount Eligibility Report:</h3>
    <p>Each number represents the number of applicants for the school who beat the discount deadline. Teams eligible for the discount are noted in <strong>BOLD</strong>. Click the team name to see the student's application date.</p>
    <dl class="accordion" data-accordion >
      <% @schools.each_with_index do |school, index| %>
        <dd class="accordion-navigation" >
          <% if school[1].count >= 4 %>
            <a href="<%= "#panel" + index.to_s %>"><strong><%= school[0].titleize %> - <%= school[1].count %></strong></a>
          <% else %>
            <a href="<%= "#panel" + index.to_s %>"><%= school[0].titleize %> - <%= school[1].count %></a>
          <% end %>
            <div id="<%= "panel" + index.to_s %>" class="content">
              <ul>
              <% school[1].each do |user| %>
                <li><%= user.full_name %>'s App Date: <%= user.camp_applications.where(camp_id: @camp.id).first.created_at.strftime("%B %d, %Y") %></li>
              <% end %>
              </ul>
            </div>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
