<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Residents">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Grade</Data></Cell>
        <Cell><Data ss:Type="String">School</Data></Cell>
        <Cell><Data ss:Type="String">Roommate Request</Data></Cell>
        <Cell><Data ss:Type="String">Arrival Date</Data></Cell>
        <Cell><Data ss:Type="String">Departure Date</Data></Cell>
        <Cell><Data ss:Type="String">T-shirt size</Data></Cell>
        <Cell><Data ss:Type="String">Date of Birth</Data></Cell>
        <Cell><Data ss:Type="String">Event 1</Data></Cell>
        <Cell><Data ss:Type="String">Event 2</Data></Cell>
      </Row>
    <% @residents.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.last_name.titleize %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.first_name.titleize %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.gender %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.grade %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.school.titleize %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.first.roommate_req %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.last.arrival_date.strftime("%B %d") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.last.departure_date.strftime("%B %d") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.tshirt_size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.birthday.strftime("%B %d, %Y") %></Data></Cell>
        <% student.camp_applications.last.events.each do |event| %>
          <Cell><Data ss:Type="String"><%= event.name %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Commuters">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Arrival Date</Data></Cell>
        <Cell><Data ss:Type="String">Departure Date</Data></Cell>
        <Cell><Data ss:Type="String">T-shirt size</Data></Cell>
        <Cell><Data ss:Type="String">Date of Birth</Data></Cell>
        <Cell><Data ss:Type="String">Event 1</Data></Cell>
        <Cell><Data ss:Type="String">Event 2</Data></Cell>
      </Row>
    <% @commuters.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.last.arrival_date.strftime("%B %d") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.camp_applications.last.departure_date.strftime("%B %d") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.tshirt_size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.birthday.strftime("%B %d, %Y") %></Data></Cell>
        <% student.camp_applications.last.events.each do |event| %>
          <Cell><Data ss:Type="String"><%= event.name %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Emails">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Parent Name</Data></Cell>
        <Cell><Data ss:Type="String">Parent Email</Data></Cell>
        <Cell><Data ss:Type="String">Coach Name</Data></Cell>
        <Cell><Data ss:Type="String">Coach Email</Data></Cell>
      </Row>
    <% @commuters.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.parent_first %> <%= student.parent_last %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.parent_email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.coach_first %> <%= student.coach_last %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.coach_email %></Data></Cell>
      </Row>
    <% end %>
    <% @residents.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.parent_first %> <%= student.parent_last %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.parent_email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.coach_first %> <%= student.coach_last %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.coach_email %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>   
</Workbook>