<fieldset>
  <legend>Camp Information</legend>
  <div class="row">
    <div class="small-12 large-6 columns">
      <%= f.label :name, "Camp Name" %>
      <%= f.text_field :name, placeholder: "Camp Name" %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.label :location, "Camp Location" %>
      <%= f.text_field :location, placeholder: "Camp Location" %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.input :start_date, label: "Camp Start Date" do %>
        <%= f.date_select :start_date, {order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"} %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.input :end_date, label: "Camp End Date" do %>
        <%= f.date_select :end_date, {order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"} %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.input :app_start_date, label: "Application Start Date" do %>
        <%= f.date_select :app_start_date, {order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"} %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.input :app_end_date, label: "Application End Date" do %>
        <%= f.date_select :app_end_date, {order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"} %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.input :discount_deadline, label: "Discount Deadline" do %>
        <%= f.date_select :discount_deadline, {order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"}  %>
      <% end %>
    </div>
    <div class="small-12 large-12 columns">
      <%= f.fields_for :camp_sessions do |builder| %>
        <%= render 'camp_session_fields', f: builder  %>
      <% end %>
      <%= link_to_add_fields "Add Session", f, :camp_sessions %>
    </div>
    <%= f.input :active, label: "Active Camp" do %>
      <%= f.check_box :active  %>
    <% end %>
  </div>
</fieldset>