<fieldset>
  <div class="row">
    <div class="row">
      <div class="small-12 large-4 columns">
        <%= f.input :name, label: "Event Name" do %>
          <%= f.text_field :name, placeholder: "Event Name" %>
        <% end %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.input :description, label: "Event Description" do %>
          <%= f.text_field :description, placeholder: "Event Description" %>
        <% end %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.input :event_type, label: "Event Type" do %>
          <%= f.select :event_type, options: [["Debate", "debate"], ["Speech", "speech"]] %>
        <% end %>
      </div>  
    </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <%= f.input :camp_session_id, label: "Camp Session" do %>
          <%= f.collection_select :camp_session_id, @csessions, :id, :name, prompt: true  %>
        <% end %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.input :price_resident, label: "Price for Residents" do %>
          <%= f.number_field :price_resident, in: 600..1300, step: 5  %>
        <% end %>
      </div>
      <div class="small-12 large-4 columns">
        <%= f.input :price_commuter, label: "Price for Commuters" do %>
          <%= f.number_field :price_commuter, in: 600..900, step: 5  %>
        <% end %>
      </div>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Delete Event", "#", class: "remove-fields small-6 large-4 tiny button alert" %>
  </div>
</fieldset>