<%= render 'admin/shared/admin_tools' %>
<div class="row">
  <div class="small-12 large-12 columns">
    <div class="panel">
      <h1><%= @camp.name %></h1>
      <div class="row">
        <ul id="campinfo1" class="no-bullet small-12 large-6 columns">
          <li><strong><i class="fa fa-calendar"></i> Start Date:</strong> <%= !@camp.start_date.nil? ? @camp.start_date.strftime("%B %d, %Y") : "None" %></li>
          <li><strong><i class="fa fa-calendar"></i> End Date:</strong> <%= !@camp.end_date.nil? ? @camp.end_date.strftime("%B %d, %Y") : "None" %></li>
          <li><strong><i class="fa fa-home"></i> Location:</strong> <%= @camp.location %> </li>
        </ul>
        <ul id="campinfo2" class="no-bullet small-12 large-6 columns">
          <li><strong><i class="fa fa-inbox"></i> Application Start Date:</strong> <%= !@camp.app_start_date.nil? ? @camp.app_start_date.strftime("%B %d, %Y") : "None" %></li>
          <li><strong><i class="fa fa-inbox"></i> Application End Date:</strong> <%= !@camp.app_end_date.nil? ? @camp.app_end_date.strftime("%B %d, %Y") : "None" %></li>
          <li><strong><i class="fa fa-money"></i> Team Discount Deadline:</strong> <%= !@camp.discount_deadline.nil? ? @camp.discount_deadline.strftime("%B %d, %Y") : "None" %></li>
          <li>
            <% if @camp.active %>
              <strong><i class="fa fa-check-circle"></i> Active Camp</strong>
            <% else %>
              <strong><i class="fa fa-times-circle"></i> Inactive Camp</strong>
            <% end %>
          </li>
        </ul>
        </div>
      <div class="row">
        <div class="small-12 large-6 columns right">
          <%= link_to edit_admin_camp_path, class: "button primary right" do %>
            <i class="fa fa-edit inverse"></i> Edit This Camp
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "events" %>