  <div class="row">
    <ul class="stack_for_small button-group">
    	<li>
    		<%= link_to "View Camp Info", admin_camp_path(@camp), {class: "button tiny primary"}  %>
    	</li>
    	<li>
    		<%= link_to "Manage Users", profiles_path, {class: "button tiny primary"} %>
    	</li>
    	<li>
    		<%= link_to "Manage Applications", admin_camp_applications_path, {class: "button tiny primary"}  %>
    	</li>
      <li>
        <%= link_to "Financial Report", admin_reports_financial_path, {class: "button tiny primary"} %>
      </li>
      <li>
        <%= link_to "Status Report", admin_reports_status_path, {class: "button tiny primary"} %>
      </li>
      <li>
        <%= link_to "Shuttle Report", admin_reports_shuttle_path, {class: "button tiny primary"} %>
      </li>
      <li>
        <%= link_to "Check In", admin_reports_registration_path, {class: "button tiny primary"} %>
      </li>
      <li>
        <%= link_to "Staff List", admin_admin_profiles_path, {class: "button tiny primary"} %>
      </li>
    </ul>
  </div>
