<fieldset>
  <legend>Personal Information</legend>
  <div class="row">
    <div class="small-12 large-3 columns">
      <%= f.label :gender %>
      <%= f.select :gender, options_for_select([['Female', 'female'], ['Male', 'male']], f.object.gender || 'female'), placeholder: "Gender" %>
    </div>
    <div class="small-12 large-3 columns">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, placeholder: "Phone Number" %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.label :birthday %>
      <%= date_select :user, :birthday, {start_year: 1980, end_year: 2005, order: [:month, :day, :year]}, {:class => "small-4 large-4 columns"} %>
    </div>
    <div class="small-4 large-6 columns">
      <%= f.label :school, "Where do you go to school?" %>
      <%= f.text_field :school, placeholder: "School Name" %>
    </div>
    <div class="small-4 large-4 columns">
      <%= f.label :grade, "Grade this coming fall" %>
      <%= f.select :grade, options_for_select([['8th Grade', 8], ['Freshman', 9], ['Sophomore', 10], ['Junior', 11], ['Senior', 12]], f.object.grade || 8) %>
    </div>
    <div class="small-4 large-2 columns">
      <%= f.label :tshirt_size %>
      <%= f.select :tshirt_size, options_for_select([['Small', 'sm'], ['Medium', 'med'], ['Large', 'lg'], ['XLarge', 'xl'], ['XXL', '2xl'], ['3XL', '3xl']], f.object.tshirt_size || 'sm'), placeholder: "T-shirt Size" %>
    </div>
    <div class="small-12 large-12 columns">
      <%= f.label :address_line1, "Address" %>
      <%= f.text_field :address_line1, placeholder: "Address Line 1" %>
    </div>
    <div class="small-12 large-12 columns">
      <%= f.text_field :address_line2, placeholder: "Address Line 2" %>
    </div>
    <div class="small-6 large-6 columns">
      <%= f.text_field :city, placeholder: "City" %>
    </div>
    <div class="small-3 large-3 columns">
      <%= f.select :state, options_for_select(us_states, f.object.state || 'AL') %>
    </div>
    <div class="small-3 large-3 columns">
      <%= f.text_field :zip, placeholder: "Zip Code" %>
    </div>
  </div>
</fieldset>