<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: admin_user_edit_path(resource), html: { multipart: true, method: :put }) do |f| %>
    <%= devise_error_messages! %>
      <%= render 'userinfo', :f => f  %>
      <%= render 'personalinfo', :f => f  %>
      <%= render 'parentinfo', :f => f  %>
      <%= render 'coachinfo', :f => f  %>
      <%= f.submit "Update", class: "button primary small-6 large-centered columns" %>
  <% end %>
   <%= button_to "Remove Account", admin_user_delete_path(resource), data: { confirm: "Are you sure?" }, class: "button tiny alert small-4 large-centered columns", method: :delete %>
  </div>
  <div class="row"><%= link_to "Back", :back %></div>
</div>